<!-- Events Page Content -->
<!-- Breadcrumbs Section with VR Animation & Lightning -->
<div class="rs-breadcrumbs breadcrumbs-overlay vr-breadcrumbs">
    
    <!-- Lightning Animation Container -->
    <div class="breadcrumbs-lightning-container">
        <div class="breadcrumbs-lightning lightning-bread-1">
            <svg viewBox="0 0 500 300" preserveAspectRatio="none">
                <polyline points="100,0 140,80 110,120 180,200 150,250 220,300" stroke="url(#breadGrad)" stroke-width="2.5" fill="none"/>
            </svg>
        </div>
        <div class="breadcrumbs-lightning lightning-bread-2">
            <svg viewBox="0 0 500 300" preserveAspectRatio="none">
                <polyline points="400,0 360,60 390,120 330,180 370,240 310,300" stroke="url(#breadGrad)" stroke-width="2.5" fill="none"/>
            </svg>
        </div>
        <div class="breadcrumbs-lightning lightning-bread-3">
            <svg viewBox="0 0 500 300" preserveAspectRatio="none">
                <polyline points="250,0 280,50 240,100 290,160 260,220 310,300" stroke="url(#breadGrad)" stroke-width="2.5" fill="none"/>
            </svg>
        </div>
        <div class="breadcrumbs-lightning lightning-bread-4">
            <svg viewBox="0 0 500 300" preserveAspectRatio="none">
                <polyline points="50,200 100,150 80,100 150,50" stroke="url(#breadGrad)" stroke-width="2" fill="none"/>
            </svg>
        </div>
    </div>
    
    <!-- Animated VR Grid Background -->
    <div class="vr-grid-overlay"></div>
    
    <div class="breadcrumbs-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="page-title vr-glitch-title">
                        <i class="fa fa-calendar"></i> Upcoming Events <i class="fa fa-bolt"></i>
                    </h1>
                    <ul class="vr-breadcrumb-list">
                        <li>
                            <a class="active" href="/">Home</a>
                        </li>
                        <li class="current">Events</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Events Main Section with WHITE BACKGROUND -->
<div class="rs-events-2 sec-spacer events-white-section">
    <div class="container">
        <div class="sec-title mb-50 text-center">
            <h2 class="events-title">OUR UPCOMING EVENTS</h2>      
            <p class="events-subtitle">Join us in shaping the future of Compassionate Capitalism and Virtual Reality Ecosystem</p>
        </div>
        
        <div class="row space-bt30">
            <div class="col-lg-6 col-md-12 md-mb-30">
                <div class="event-item-white">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="event-img-white">
                                <img src="images/events/4.jpg" alt="Events Images" />
                                <div class="event-overlay">
                                    <a class="image-link" href="events-details.html" title="Event Details">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>                        		
                        </div>
                        <div class="col-md-6">
                            <div class="event-content-white">
                                <div class="event-meta-white">
                                    <div class="event-date-white">
                                        <i class="fa fa-calendar"></i>
                                        <span>28 June 2024</span>
                                    </div>
                                    <div class="event-time-white">
                                        <i class="fa fa-clock-o"></i>
                                        <span>10:00AM - 04:00PM</span>
                                    </div>
                                </div>
                                <h3 class="event-title-white"><a href="events-details.html">RedirectMall Annual Summit<br>2024</a></h3>
                                <div class="event-location-white">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Virtual Reality Conference Center</span>
                                </div>
                                <div class="event-desc-white">
                                    <p>Join industry leaders and visionaries as we explore the future of Compassionate Capitalism and showcase our 28 VR ecosystem channels.</p>
                                </div>
                                <div class="event-btn-white">
                                    <a href="events-details.html">Register Now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>                    		
                        </div>
                    </div>                    		
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="event-item-white">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="event-img-white">
                                <img src="images/events/5.jpg" alt="Events Images" />
                                <div class="event-overlay">
                                    <a class="image-link" href="events-details.html" title="Event Details">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>                        		
                        </div>
                        <div class="col-md-6">
                            <div class="event-content-white">
                                <div class="event-meta-white">
                                    <div class="event-date-white">
                                        <i class="fa fa-calendar"></i>
                                        <span>15 July 2024</span>
                                    </div>
                                    <div class="event-time-white">
                                        <i class="fa fa-clock-o"></i>
                                        <span>09:00AM - 06:00PM</span>
                                    </div>
                                </div>
                                <h3 class="event-title-white"><a href="events-details.html">VR Ecosystem Launch<br>Conference</a></h3>
                                <div class="event-location-white">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Innovation Hub, Main Campus</span>
                                </div>
                                <div class="event-desc-white">
                                    <p>Experience the official launch of our Virtual Reality Ecosystem featuring 28 specialized subsystems transforming digital commerce.</p>
                                </div>
                                <div class="event-btn-white">
                                    <a href="events-details.html">Register Now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>                    		
                        </div>
                    </div>                    		
                </div>
            </div>
        </div>
        
        <div class="row space-bt30">
            <div class="col-lg-6 col-md-12 md-mb-30">
                <div class="event-item-white">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="event-img-white">
                                <img src="images/events/6.jpg" alt="Events Images" />
                                <div class="event-overlay">
                                    <a class="image-link" href="events-details.html" title="Event Details">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>                        		
                        </div>
                        <div class="col-md-6">
                            <div class="event-content-white">
                                <div class="event-meta-white">
                                    <div class="event-date-white">
                                        <i class="fa fa-calendar"></i>
                                        <span>05 August 2024</span>
                                    </div>
                                    <div class="event-time-white">
                                        <i class="fa fa-clock-o"></i>
                                        <span>11:00AM - 03:00PM</span>
                                    </div>
                                </div>
                                <h3 class="event-title-white"><a href="events-details.html">Compassionate Capitalism<br>Workshop</a></h3>
                                <div class="event-location-white">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Business Innovation Center</span>
                                </div>
                                <div class="event-desc-white">
                                    <p>Learn about the principles of Compassionate Capitalism and how it's reshaping global business practices for sustainable growth.</p>
                                </div>
                                <div class="event-btn-white">
                                    <a href="events-details.html">Register Now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>                    		
                        </div>
                    </div>                    		
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="event-item-white">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="event-img-white">
                                <img src="images/events/7.jpg" alt="Events Images" />
                                <div class="event-overlay">
                                    <a class="image-link" href="events-details.html" title="Event Details">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>                        		
                        </div>
                        <div class="col-md-6">
                            <div class="event-content-white">
                                <div class="event-meta-white">
                                    <div class="event-date-white">
                                        <i class="fa fa-calendar"></i>
                                        <span>20 September 2024</span>
                                    </div>
                                    <div class="event-time-white">
                                        <i class="fa fa-clock-o"></i>
                                        <span>10:00AM - 05:00PM</span>
                                    </div>
                                </div>
                                <h3 class="event-title-white"><a href="events-details.html">Investment Summit &<br>Networking Gala</a></h3>
                                <div class="event-location-white">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Grand Convention Center</span>
                                </div>
                                <div class="event-desc-white">
                                    <p>Connect with investors and industry experts while exploring opportunities in our 28 development channels.</p>
                                </div>
                                <div class="event-btn-white">
                                    <a href="events-details.html">Register Now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>                    		
                        </div>
                    </div>                    		
                </div>
            </div>
        </div>
        
        <div class="row space-bt30">
            <div class="col-lg-6 col-md-12 md-mb-30">
                <div class="event-item-white">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="event-img-white">
                                <img src="images/events/8.jpg" alt="Events Images" />
                                <div class="event-overlay">
                                    <a class="image-link" href="events-details.html" title="Event Details">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>                        		
                        </div>
                        <div class="col-md-6">
                            <div class="event-content-white">
                                <div class="event-meta-white">
                                    <div class="event-date-white">
                                        <i class="fa fa-calendar"></i>
                                        <span>12 October 2024</span>
                                    </div>
                                    <div class="event-time-white">
                                        <i class="fa fa-clock-o"></i>
                                        <span>08:30AM - 04:30PM</span>
                                    </div>
                                </div>
                                <h3 class="event-title-white"><a href="events-details.html">Tech Innovation<br>Expo 2024</a></h3>
                                <div class="event-location-white">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Technology Park, Hall A</span>
                                </div>
                                <div class="event-desc-white">
                                    <p>Showcasing cutting-edge VR technologies and innovations from our ecosystem partners and developers.</p>
                                </div>
                                <div class="event-btn-white">
                                    <a href="events-details.html">Register Now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>                    		
                        </div>
                    </div>                    		
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="event-item-white">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="event-img-white">
                                <img src="images/events/9.jpg" alt="Events Images" />
                                <div class="event-overlay">
                                    <a class="image-link" href="events-details.html" title="Event Details">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>                        		
                        </div>
                        <div class="col-md-6">
                            <div class="event-content-white">
                                <div class="event-meta-white">
                                    <div class="event-date-white">
                                        <i class="fa fa-calendar"></i>
                                        <span>05 November 2024</span>
                                    </div>
                                    <div class="event-time-white">
                                        <i class="fa fa-clock-o"></i>
                                        <span>09:00AM - 07:00PM</span>
                                    </div>
                                </div>
                                <h3 class="event-title-white"><a href="events-details.html">Annual Charity Gala<br>& Fundraiser</a></h3>
                                <div class="event-location-white">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Grand Ballroom, City Center</span>
                                </div>
                                <div class="event-desc-white">
                                    <p>Join us for an evening of compassion and community as we raise funds for sustainable development initiatives.</p>
                                </div>
                                <div class="event-btn-white">
                                    <a href="events-details.html">Register Now <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>                    		
                        </div>
                    </div>                    		
                </div>
            </div>
        </div>
        
        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="mt-50">
            <ul class="pagination justify-content-center pagination-white">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link dotted" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

<style>
/* ============================================ */
/* BREADCRUMBS SECTION - VR DARK WITH LIGHTNING */
/* ============================================ */

.vr-breadcrumbs {
    background: linear-gradient(135deg, #0a0a0a 0%, #1a1a2e 50%, #16213e 100%);
    position: relative;
    overflow: hidden;
}

/* VR Grid Overlay */
.vr-grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(rgba(102, 126, 234, 0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(102, 126, 234, 0.08) 1px, transparent 1px);
    background-size: 50px 50px;
    pointer-events: none;
    animation: gridMoveBread 20s linear infinite;
}

@keyframes gridMoveBread {
    0% { transform: translate(0, 0); }
    100% { transform: translate(50px, 50px); }
}

/* Lightning Container for Breadcrumbs */
.breadcrumbs-lightning-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.breadcrumbs-lightning {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.breadcrumbs-lightning svg {
    width: 100%;
    height: 100%;
}

.breadcrumbs-lightning svg polyline {
    stroke: url(#breadGrad);
    stroke-width: 2.5;
    fill: none;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
}

/* Lightning 1 - Top Left */
.lightning-bread-1 {
    top: 5%;
    left: 5%;
    width: 250px;
    height: 180px;
    animation: breadFlash1 8s infinite;
}

.lightning-bread-1 svg polyline {
    animation: breadStrike1 0.8s ease-out forwards;
}

/* Lightning 2 - Top Right */
.lightning-bread-2 {
    top: 10%;
    right: 5%;
    width: 250px;
    height: 180px;
    animation: breadFlash2 10s infinite;
}

.lightning-bread-2 svg polyline {
    animation: breadStrike2 0.6s ease-out forwards;
}

/* Lightning 3 - Center */
.lightning-bread-3 {
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 150px;
    animation: breadFlash3 12s infinite;
}

.lightning-bread-3 svg polyline {
    animation: breadStrike3 0.7s ease-out forwards;
}

/* Lightning 4 - Side */
.lightning-bread-4 {
    bottom: 20%;
    right: 10%;
    width: 150px;
    height: 120px;
    animation: breadFlash4 14s infinite;
}

.lightning-bread-4 svg polyline {
    animation: breadStrike4 0.5s ease-out forwards;
}

/* Lightning Keyframes */
@keyframes breadFlash1 {
    0%, 92%, 94%, 100% { opacity: 0; transform: translateX(-30px); }
    93% { opacity: 1; transform: translateX(0); }
}

@keyframes breadFlash2 {
    0%, 94%, 96%, 100% { opacity: 0; transform: translateX(30px); }
    95% { opacity: 1; transform: translateX(0); }
}

@keyframes breadFlash3 {
    0%, 96%, 98%, 100% { opacity: 0; transform: scale(0.8); }
    97% { opacity: 1; transform: scale(1); }
}

@keyframes breadFlash4 {
    0%, 90%, 92%, 100% { opacity: 0; transform: translateY(20px); }
    91% { opacity: 1; transform: translateY(0); }
}

@keyframes breadStrike1 {
    0% { stroke-dashoffset: 500; stroke-width: 2; }
    50% { stroke-width: 4; }
    100% { stroke-dashoffset: 0; stroke-width: 2; }
}

@keyframes breadStrike2 {
    0% { stroke-dashoffset: 500; stroke-width: 2; }
    60% { stroke-width: 5; }
    100% { stroke-dashoffset: 0; stroke-width: 2; }
}

@keyframes breadStrike3 {
    0% { stroke-dashoffset: 500; stroke-width: 2; }
    40% { stroke-width: 4; }
    100% { stroke-dashoffset: 0; stroke-width: 2; }
}

@keyframes breadStrike4 {
    0% { stroke-dashoffset: 300; stroke-width: 2; }
    50% { stroke-width: 3; }
    100% { stroke-dashoffset: 0; stroke-width: 2; }
}

/* Glow effect */
.breadcrumbs-lightning svg polyline {
    filter: drop-shadow(0 0 5px rgba(102, 126, 234, 0.5));
}

/* Glitch Title */
.vr-glitch-title {
    font-size: 52px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0,0,0,0.3);
    animation: glitchTitle 3s infinite;
    letter-spacing: 2px;
}

@keyframes glitchTitle {
    0%, 100% { transform: skew(0deg, 0deg); }
    95% { transform: skew(0deg, 0deg); }
    96% { transform: skew(2deg, 1deg); text-shadow: -2px 0 #D71920; }
    97% { transform: skew(-2deg, -1deg); text-shadow: 2px 0 #1F3A93; }
    98% { transform: skew(1deg, 0deg); }
    99% { transform: skew(-1deg, 1deg); }
}

.vr-glitch-title i {
    animation: pulseIcon 2s infinite;
}

@keyframes pulseIcon {
    0%, 100% { opacity: 0.7; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.2); }
}

.vr-breadcrumb-list {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.vr-breadcrumb-list li {
    color: rgba(255,255,255,0.7);
    font-size: 16px;
}

.vr-breadcrumb-list li a {
    color: #667eea;
    text-decoration: none;
    transition: color 0.3s;
}

.vr-breadcrumb-list li a:hover {
    color: #764ba2;
}

.vr-breadcrumb-list li.current {
    color: #fff;
}

.vr-breadcrumb-list li:not(:last-child)::after {
    content: '/';
    margin-left: 10px;
    color: rgba(255,255,255,0.5);
}

.breadcrumbs-inner {
    padding: 100px 0;
    position: relative;
    z-index: 2;
}

/* ============================================ */
/* EVENTS SECTION - WHITE BACKGROUND */
/* ============================================ */

.events-white-section {
    background: #ffffff;
    padding: 80px 0;
    position: relative;
}

.events-title {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(135deg, #D71920 0%, #1F3A93 50%, #E84A50 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 15px;
}

.events-subtitle {
    font-size: 18px;
    color: #666;
    letter-spacing: 1px;
}

/* Event Items */
.event-item-white {
    background: #f8f9fa;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.event-item-white:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.event-img-white {
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.event-img-white img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.event-item-white:hover .event-img-white img {
    transform: scale(1.05);
}

.event-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(215, 25, 32, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.event-item-white:hover .event-overlay {
    opacity: 1;
}

.image-link {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D71920;
    text-decoration: none;
    transition: all 0.3s ease;
}

.image-link:hover {
    background: #1F3A93;
    color: #fff;
    transform: rotate(360deg);
}

/* Event Content */
.event-content-white {
    padding: 25px;
}

.event-meta-white {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.event-date-white, .event-time-white {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #666;
}

.event-date-white i, .event-time-white i {
    color: #D71920;
    font-size: 14px;
}

.event-title-white {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.event-title-white a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.event-title-white a:hover {
    background: linear-gradient(135deg, #D71920 0%, #1F3A93 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.event-location-white {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #888;
}

.event-location-white i {
    color: #1F3A93;
}

.event-desc-white p {
    color: #666;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 20px;
}

.event-btn-white a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    background: linear-gradient(135deg, #D71920 0%, #1F3A93 100%);
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.event-btn-white a:hover {
    transform: translateX(5px);
    box-shadow: 0 5px 15px rgba(215, 25, 32, 0.3);
}

/* Pagination */
.pagination-white {
    margin-top: 30px;
}

.pagination-white .page-item {
    margin: 0 5px;
}

.pagination-white .page-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    color: #666;
    background: #fff;
    transition: all 0.3s ease;
}

.pagination-white .page-link:hover {
    background: linear-gradient(135deg, #D71920 0%, #1F3A93 100%);
    color: #fff;
    border-color: transparent;
}

.pagination-white .page-item.active .page-link {
    background: linear-gradient(135deg, #D71920 0%, #1F3A93 100%);
    color: #fff;
    border-color: transparent;
}

.pagination-white .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-white .page-link.dotted {
    background: transparent;
    border: none;
}

/* Responsive */
@media (max-width: 768px) {
    .vr-glitch-title {
        font-size: 32px;
    }
    
    .events-title {
        font-size: 28px;
    }
    
    .events-subtitle {
        font-size: 14px;
    }
    
    .event-meta-white {
        flex-direction: column;
        gap: 8px;
    }
    
    .event-img-white img {
        height: 200px;
    }
    
    .event-content-white {
        padding: 20px;
    }
    
    .breadcrumbs-inner {
        padding: 60px 0;
    }
    
    .lightning-bread-1, .lightning-bread-2, .lightning-bread-3, .lightning-bread-4 {
        transform: scale(0.6);
    }
}

@media (max-width: 480px) {
    .vr-glitch-title {
        font-size: 24px;
    }
    
    .events-title {
        font-size: 22px;
    }
    
    .event-title-white {
        font-size: 18px;
    }
    
    .breadcrumbs-lightning-container {
        display: none;
    }
}
</style>

<!-- SVG Gradient Definition -->
<svg style="position: fixed; width: 0; height: 0;">
    <defs>
        <linearGradient id="breadGrad" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#D71920;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#1F3A93;stop-opacity:1" />
        </linearGradient>
    </defs>
</svg>